## Query languages in Nigeria from “World_x” MySQL Database

In [16]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### Step 1
Create an SQLAlchemy engine for a MySQL database, and enter the appropriate credentials, which includes user, password, database and host.

In [17]:
# create sqlalchemy engine
#Write your code here
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Phammer1212",
                               db="world_x"))

### Step 2
Read the `country` and the `countrylanguage` tables. You can do this with the Pandas.read_sql or read_sql_table method. 
You expected to generate two pandas DataFrame from this, and you can provide any name for them.

In [18]:
#Write your code here
countrydf = pd.read_sql("country", con=engine)
country_languagedf = pd.read_sql("countrylanguage", con=engine)

### Step 3
Rename the “CountryCode” column in the DataFrame generated from the “Countrylanguage” table. The new column name is “Code”. Hint: Use the Pandas.rename() method for this.

In [19]:
#Write your code here
country_languagedf.rename(columns={"CountryCode": "Code"}, inplace=True)

### Step 4
In this step, you are expected to perform a `LEFT JOIN` by joining the “country” table to “countrylanguage”. You will perform this step using the Pandas method of combining data on a common column which is “Code”. Save your result to a DataFrame named “df_country”

In [20]:
#Write your code here
df_country = pd.merge(countrydf, country_languagedf, how="left", on="Code")
df_country

    Code         Name  Capital Code2    Language IsOfficial  Percentage
0    ABW        Aruba    129.0    AW       Dutch          T         5.3
1    ABW        Aruba    129.0    AW     English          F         9.5
2    ABW        Aruba    129.0    AW  Papiamento          F        76.7
3    ABW        Aruba    129.0    AW     Spanish          F         7.4
4    AFG  Afghanistan      1.0    AF     Balochi          F         0.9
..   ...          ...      ...   ...         ...        ...         ...
985  ZMB       Zambia   3162.0    ZM      Tongan          F        11.0
986  ZWE     Zimbabwe   4068.0    ZW     English          T         2.2
987  ZWE     Zimbabwe   4068.0    ZW     Ndebele          F        16.2
988  ZWE     Zimbabwe   4068.0    ZW      Nyanja          F         2.2
989  ZWE     Zimbabwe   4068.0    ZW       Shona          F        72.1

[990 rows x 7 columns]

### Step 5
From the results above, you will filter the DataFrame(df_country) to return another DataFrame where the “Code” column is `NGA` and the “Name” column is `Nigeria`. In essence, you are to generate a table for the country Nigeria. You can name this DataFrame `df_Nigeria`

In [21]:
#Write your code here
df_Nigeria = df_country[(df_country["Name"] == "Nigeria") & (df_country["Code"] == "NGA")]
df_Nigeria

    Code     Name  Capital Code2 Language IsOfficial  Percentage
646  NGA  Nigeria   2754.0    NG     Bura          F         1.6
647  NGA  Nigeria   2754.0    NG      Edo          F         3.3
648  NGA  Nigeria   2754.0    NG      Ful          F        11.3
649  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
650  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
651  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
652  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
653  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
654  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
655  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

### Step 6
To test the methods above, perform a similar `LEFT JOIN` by writing an SQL query(not Pandas method) and save to a variable. Using the Pandas.read_sql method, read the query from the database to perform and generate results for the join procedure. Save the result to another DataFrame name e.g `df_Nigeria_SQL`
Note: Use `SELECT * ` when writing the query so as to generate columns that are similar to previous steps. Also remember to drop the `countrycode` column

In [10]:
#Write your code here
query1 = '''SELECT * 
FROM country 
LEFT JOIN countrylanguage 
ON country.Code = countrylanguage.CountryCode 
WHERE country.Code = "NGA";
'''

In [22]:
df_Nigeria_SQL = pd.read_sql_query(query1,con=engine)
del df_Nigeria_SQL["CountryCode"]
df_Nigeria_SQL

  Code     Name  Capital Code2 Language IsOfficial  Percentage
0  NGA  Nigeria     2754    NG     Bura          F         1.6
1  NGA  Nigeria     2754    NG      Edo          F         3.3
2  NGA  Nigeria     2754    NG      Ful          F        11.3
3  NGA  Nigeria     2754    NG    Hausa          F        21.1
4  NGA  Nigeria     2754    NG   Ibibio          F         5.6
5  NGA  Nigeria     2754    NG      Ibo          F        18.1
6  NGA  Nigeria     2754    NG      Ijo          F         1.8
7  NGA  Nigeria     2754    NG   Joruba          F        21.4
8  NGA  Nigeria     2754    NG   Kanuri          F         4.1
9  NGA  Nigeria     2754    NG      Tiv          F         2.3

### Step 7
Use the shape attribute to check the shape of both DataFrames `(df_Nigeria & df_Nigeria_SQL)`. The result should be the same for both DataFrames. You can write a conditional statement to check if both shapes are equal. 
Ensure that you don’t have `countrycode` column in your test DataFrame

In [14]:
#Write your code here
if df_Nigeria.shape == df_Nigeria_SQL.shape:
    print (True)
    print (df_Nigeria.shape)
    print (df_Nigeria_SQL.shape)
else:
    print (False)

True
(10, 7)
(10, 7)

### Step 8
Using the DataFrame.to_sql method, save the results of “df_Nigeria” to a new table(you can provide any name e.g “nigerialanguage” to the database. 
Provide a screenshot to show that your procedure ran successfully.

In [15]:
#Write your code here
df_Nigeria.to_sql('nigerialanguage', con=engine, index=False)